<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd">
	
	<beans:import resource="springContext.xml"/>
	
	<beans:bean id="myUserDetailsService" class="com.excilys.computerDatabase.service.UserService"/>
	
	<beans:bean id="springSecurityFilterChain" class="org.springframework.web.filter.DelegatingFilterProxy"/>
	
	<http auto-config='true'>
    	<intercept-url pattern="/index" access="hasAnyRole('ROLE_USER','ROLE_ADMIN')"/>
    	<intercept-url pattern="/editComputer" access="hasRole('ROLE_ADMIN')" />
    	<intercept-url pattern="/addComputer" access="hasRole('ROLE_ADMIN')" />
    	<intercept-url pattern="/deleteComputer" access="hasRole('ROLE_ADMIN')" />
    	<form-login 
    		login-page="/login"
		    default-target-url="/index"
			authentication-failure-url="/login?error"
			username-parameter="username"
			password-parameter="password"/>
		<logout logout-success-url="/login?logout" />
		<!-- enable csrf protection -->
		<csrf />
    </http>
	
	<authentication-manager>
    	<authentication-provider user-service-ref='myUserDetailsService'/>
    </authentication-manager>
	
</beans:beans>